@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<section class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <i class="fas fa-tools fa-5x text-primary mb-4"></i>
                    <h1 class="display-4">Em Construção</h1>
                    <p class="lead">Desculpe-nos, esta página ainda está em desenvolvimento.</p>
                    <p>Estamos trabalhando nela e ela estará disponível breve. Obrigado pela sua paciência.</p>
                </div>
            </div>
        </div>
    </div>
</section>