@model VitalNutri.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NutricionistaId" class="control-label"></label>
                <select asp-for="NutricionistaId" class ="form-control" asp-items="ViewBag.NutricionistaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TreinadorPessoalId" class="control-label"></label>
                <select asp-for="TreinadorPessoalId" class ="form-control" asp-items="ViewBag.TreinadorPessoalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PossuiAcompanhamentoNutricionista" class="control-label"></label>
                <input asp-for="PossuiAcompanhamentoNutricionista" class="form-control" />
                <span asp-validation-for="PossuiAcompanhamentoNutricionista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossuiAcompanhamentoPersonal" class="control-label"></label>
                <input asp-for="PossuiAcompanhamentoPersonal" class="form-control" />
                <span asp-validation-for="PossuiAcompanhamentoPersonal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossuiPlanoAlimentar" class="control-label"></label>
                <input asp-for="PossuiPlanoAlimentar" class="form-control" />
                <span asp-validation-for="PossuiPlanoAlimentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossuiPlanoTreino" class="control-label"></label>
                <input asp-for="PossuiPlanoTreino" class="form-control" />
                <span asp-validation-for="PossuiPlanoTreino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaPeso" class="control-label"></label>
                <input asp-for="MetaPeso" class="form-control" />
                <span asp-validation-for="MetaPeso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
